// ==========================================================================
// layout.scss
// ==========================================================================

html,
body {
    height: 100svh;
    width: 100vw;
    font-family: $font-family;
    color: $white;
    text-shadow: $text-shadow-1;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

h1,
h2 {
    font-family: $font-family-secondary;
    font-weight: normal;
    font-size: 28px;

}


h3 {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 138%;
    letter-spacing: 0.04em;

}

p {
    font-size: 16px;
    line-height: 138%;
    letter-spacing: 0.04em;
}

body {
    background-image: $background-image, $grd-1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.container {
    display: flex;
    gap: 35px;
    height: 100%;
    padding: 62px;
    overflow-y: auto;
    height: calc(100svh - 124px);


    //scrollbar
    &::-webkit-scrollbar {
        width: 5px;
        background: $grd-3;
    }

    &::-webkit-scrollbar-thumb {
        background: $grd-1;
        border-radius: 15px;
        transition: $transition;

        &:hover {
            background: $grd-2;
        }
    }
}




.column {
    display: flex;
    flex-direction: column;
    gap: 35px;
    flex: 1;
    height: fit-content;
    max-width: calc(100%/3);
}

.card {
    display: flex;
    flex-direction: column;
    background: $grd-2;
    box-shadow: $box-shadow-1;
    border-radius: 25px;
    overflow: hidden;

    .avatar {
        position: relative;

        &:hover {
            img {
                transform: scale(1.05);
            }
        }

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            transition: $transition;
        }

        h1 {
            position: absolute;
            margin: 25px;
            z-index: 1;
        }
    }

    .highlight {
        background: $grd-3;
    }

    .content-box {
        padding: 20px;

        h2,
        h3 {
            margin: 0;
        }

        p {
            margin: 0;
            padding: 0;
        }


    }

    .bottom-image {
        display: flex;
        padding-top: 20px;

        img {
            object-fit: contain;
            width: 100%;
        }
    }


    &.certificates {
        .highlight {
            display: flex;
            flex-direction: row;
            gap: 35px;
            padding: 20px 25px;

            div {
                display: flex;
                flex: 1;
                border-radius: 15px;
                box-shadow: $box-shadow-2;
                transition: $transition;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                }

                img {
                    object-fit: contain;
                    width: 100%;
                }
            }
        }

        .content-box {
            display: flex;
            gap: 10px;
            flex-direction: column;
        }

    }

    &.video {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            img:not(.icon) {
                transform: scale(1.05);
            }
        }

        .icon {
            position: absolute;
            width: 70px;
            z-index: 1;
        }

        img {
            transition: $transition;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &.link {
        position: relative;
        cursor: pointer;

        &:hover {
            &>img {
                transform: scale(1.05);
            }
        }

        .icon-box {
            background: $grd-2;
            box-shadow: $box-shadow-2;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            padding: 20px;
            left: 0;
            bottom: 0;
            border-radius: 0px 30px 0px 0px;
            z-index: 1;

            img {
                height: 40px;
            }
        }

        img {
            transition: $transition;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .contact-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 40px;

        img {
            cursor: pointer;
            transition: $transition;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}