// ==========================================================================
// layout.scss
// ==========================================================================

html,
body {
    height: 100svh;
    width: 100vw;
    font-family: $font-family;
    color: $white;
    text-shadow: $text-shadow-1;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

h1,
h2 {
    font-family: $font-family-secondary;
    font-weight: normal;
    font-size: 28px;

}


h3 {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 138%;
    letter-spacing: 0.04em;

}

p {
    font-size: 16px;
    line-height: 138%;
    letter-spacing: 0.04em;
}

body {
    background-image: $grd-1;
}


.container {
    background-image: $background-image;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    gap: 35px;
    height: 100%;
    padding: 62px;
    overflow-y: auto;
    height: calc(100svh - 124px);
    flex-wrap: wrap;
    justify-content: center;


    &::-webkit-scrollbar {
        width: 5px;
        background: $grd-3;
    }

    &::-webkit-scrollbar-thumb {
        background: $grd-1;
        border-radius: 15px;
        transition: $transition;

        &:hover {
            background: $grd-2;
        }
    }
}




.column {
    display: flex;
    flex-direction: column;
    gap: 35px;
    flex: 1;
    height: fit-content;
    width: 100%;
    min-width: 350px;
    max-width: 500px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background: $grd-2;
    box-shadow: $box-shadow-1;
    position: relative;
    animation: fadeIn 1s ease-in-out;
    border-radius: 25px;
    overflow: hidden;

    .card-content {
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        overflow: hidden;
        z-index: 1;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .hover-box {
        border-radius: 25px;
        overflow: hidden;
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        transition: $transition;
        will-change: transform;


        &::after,
        &::before {
            content: "";
            background: $grd-4;
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;
            right: auto;
            width: 100%;
            height: 100%;
            transition: $transition;
            transform: scale(0, 0);
            transform-origin: bottom left;
        }

        &::before {
            top: 0;
            bottom: auto;
            left: auto;
            right: 0;
            transform-origin: top right;
        }


    }

    &:hover,
    &.hover {

        .hover-box {

            &::after {
                transform: scale(1, 1);
            }

            &::before {
                transform: scale(1, 1);
            }
        }
    }

    &.anim-2 {
        .hover-box {
            transform: scaleY(-1);
        }

        animation: fadeIn-2 2s ease-in-out;
    }

    &.no-anim {
        animation: none;
    }

    .avatar {
        position: relative;
        display: flex;
        overflow: hidden;

        &:hover {
            img {
                transform: scale(1.05);
            }


        }

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            transition: $transition;
        }

        h1 {
            position: absolute;
            margin: 25px;
            z-index: 1;
        }
    }

    .highlight {
        background: $grd-3;
        position: relative;

        &:first-child {

            &::before {
                display: none;
            }
        }

        &:last-child {

            &::after {
                display: none;
            }
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            width: 0%;
            transition: $transition;
            background: $grd-4;
            z-index: 1;
        }

        &::after {
            top: auto;
            bottom: 0;
            left: auto;
            right: 0;
        }
    }

    &:hover,
    &.hover {
        .highlight {

            &::after,
            &::before {
                width: 100%;
            }
        }
    }


    .content-box {
        padding: 20px;

        h2,
        h3 {
            margin: 0;
        }

        p {
            margin: 0;
            padding: 0;
        }


    }

    .bottom-image {
        display: flex;
        padding-top: 20px;

        img {
            object-fit: contain;
            width: 100%;
        }
    }


    &.certificates {
        .highlight {
            display: flex;
            flex-direction: row;
            gap: 35px;
            padding: 20px 25px;

            &>a {
                display: flex;
                flex: 1;
                overflow: hidden;
                border-radius: 15px;
                box-shadow: $box-shadow-2;
                transition: $transition;

                &:hover {
                    transform: scale(1.05);
                }

                img {
                    object-fit: cover;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }

        .content-box {
            display: flex;
            gap: 10px;
            flex-direction: column;
        }

    }

    &.video {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;

        &:hover {
            img:not(.icon) {
                transform: scale(1.05);
            }
        }

        .icon {
            position: absolute;
            width: 70px;
            z-index: 1;
        }

        img {
            transition: $transition;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &.link {
        overflow: visible;


        &:hover {
            img:not(.icon) {
                transform: scale(1.05);
            }
        }


        .icon-box {
            background: $grd-2;
            box-shadow: $box-shadow-2;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            padding: 20px;
            left: 0;
            bottom: 0;
            border-radius: 0px 30px 0px 0px;
            z-index: 1;

            img {
                height: 40px;
            }
        }

        img {
            transition: $transition;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .contact-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 40px;

        img {
            transition: $transition;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}


@media (max-width: 1024px) {
    .container {
        padding: 32px;
        height: calc(100svh - 64px);
    }
}

@media (max-width: 768px) {
    .container {
        padding: 16px;
        height: calc(100svh - 32px);
    }
}