.back-anim {
    opacity: 0.7;
    pointer-events: none;
    z-index: -1;
    position: relative;
    display: none;

    svg {
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        animation: fadeIn 5s ease-in-out;
    }
}